*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: .5s;
    overflow: hidden;
    object-fit: cover;
}
.card-image img {
    display: block;
    width: 100%;
}
.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    display: flex;
    z-index: 3;

}
.social-icons li {
    list-style-type: none;
}
.social-icons li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 24px;
    color: #333;
    margin: 0 5px;
    transition: .5s;
    transform: translateY(200px);
    opacity: 0;
    visibility: hidden;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}
.details h2 {
    margin: 0;
    color: #333;

}
.job-title {
    font-style: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;

}
.card:hover img{
    opacity: .8;
    transition:  .5s;
}
.card:hover li a{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* .card:hover.card-image {
    transform: translateY(-120px);
    transition: .5s;
} */
li:hover a {
    background-color: blue;
    transition-delay: 0 !important;
}

.card-box{
    display: flex;
    flex-wrap: wrap;
    
}
.details{
    z-index: 5;
}
.card:hover .details{
    opacity: .8;
}
.card{
    position: relative;
    width: 70px !important;
    height: 450px !important;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    box-shadow: 3vh 5vh #525252;
}
.card:hover{
    transform: scale(1.1);
    z-index: 10;

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 60% 60%;
    background: linear-gradient(#0be9c4 -10%, #4284df 75%);
}
.yes{
    display: none !important;
    
}
.yes > *{
    display: none !important;
}
